@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Geomanist";
    src: url("../public/fonts/geomanist-regular-webfont.eot");
    src: url("../public/fonts/geomanist-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("../public/fonts/geomanist-regular-webfont.woff2") format("woff2"),
      url("../public/fonts/geomanist-regular-webfont.woff") format("woff"),
      url("../public/fonts/geomanist-regular-webfont.ttf") format("truetype"),
      url("../public/fonts/geomanist-regular-webfont.svg#geomanistregular")
        format("svg");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Geomanist";
    src: url("../public/fonts/geomanist-regular-italic-webfont.eot");
    src: url("../public/fonts/geomanist-regular-italic-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("../public/fonts/geomanist-regular-italic-webfont.woff2")
        format("woff2"),
      url("../public/fonts/geomanist-regular-italic-webfont.woff")
        format("woff"),
      url("../public/fonts/geomanist-regular-italic-webfont.ttf")
        format("truetype"),
      url("../public/fonts/geomanist-regular-italic-webfont.svg#geomanistitalic")
        format("svg");
    font-weight: 400;
    font-style: italic;
  }

  /* @font-face {
    font-family: "Geomanist";
    src: url("../public/fonts/geomanist-bold-webfont.eot");
    src: url("../public/fonts/geomanist-bold-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("../public/fonts/geomanist-bold-webfont.woff2") format("woff2"),
      url("../public/fonts/geomanist-bold-webfont.woff") format("woff"),
      url("../public/fonts/geomanist-bold-webfont.ttf") format("truetype"),
      url("../public/fonts/geomanist-bold-webfont.svg#geomanistregular")
        format("svg");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Geomanist";
    src: url("../public/fonts/geomanist-bold-italic-webfont.eot");
    src: url("../public/fonts/geomanist-bold-italic-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("../public/fonts/geomanist-bold-italic-webfont.woff2") format("woff2"),
      url("../public/fonts/geomanist-bold-italic-webfont.woff") format("woff"),
      url("../public/fonts/geomanist-bold-italic-webfont.ttf")
        format("truetype"),
      url("../public/fonts/geomanist-bold-italic-webfont.svg#geomanistitalic")
        format("svg");
    font-weight: 700;
    font-style: italic;
  } */

  @font-face {
    font-family: "geomanistregular";
    src: url("../public/fonts/geomanist-medium-webfont.eot");
    src: url("../public/fonts/geomanist-medium-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("../public/fonts/geomanist-medium-webfont.woff2") format("woff2"),
      url("../public/fonts/geomanist-medium-webfont.woff") format("woff"),
      url("../public/fonts/geomanist-medium-webfont.ttf") format("truetype"),
      url("../public/fonts/geomanist-medium-webfont.svg#geomanistregular")
        format("svg");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "geomanistitalic";
    src: url("../public/fonts/geomanist-medium-italic-webfont.eot");
    src: url("../public/fonts/geomanist-medium-italic-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("../public/fonts/geomanist-medium-italic-webfont.woff2")
        format("woff2"),
      url("../public/fonts/geomanist-medium-italic-webfont.woff") format("woff"),
      url("../public/fonts/geomanist-medium-italic-webfont.ttf")
        format("truetype"),
      url("../public/fonts/geomanist-medium-italic-webfont.svg#geomanistitalic")
        format("svg");
    font-weight: 700;
    font-style: italic;
  }

  :root {
    --color-mfr-red: 204, 8, 41;
    --color-mfr-green: 0, 118, 79;
    --color-mfr-white: 251, 248, 235;
    --color-gray-dark: 54, 50, 50;
    --color-gray-mid: 112, 112, 112;
    --color-gray-light: 144, 144, 144;
    --color-white: 255, 255, 255;
  }

  body {
    @apply text-theme-body;
  }
  /* p {
    @apply leading-[1.9em]  text-lg;
  } */

  h1,
  h2,
  h3 {
    @apply font-serif text-theme-base;
  }
}

@layer components {
  .btn {
    @apply flex items-center justify-center 
    px-4 py-3 sm:px-[40px] sm:py-[20px]
    leading-tight
    border border-transparent 
    text-[18px] font-bold font-serif 
    rounded-[7px] md:rounded-[14px] shadow-sm  
    text-gray-100
    bg-gray-600 hover:bg-gray-500;
  }

  .btn-primary {
    @apply text-white bg-themeButton-primary hover:bg-themeButton-primary-hover;
  }
  .btn-accent {
    @apply text-white bg-themeButton-accent hover:bg-themeButton-accent-hover;
  }
  .btn-inverted-primary {
    @apply bg-white text-theme-primary 
    hover:bg-green-700 hover:text-white;
  }
  .btn-inverted-accent {
    @apply bg-white text-theme-accent 
    hover:bg-red-700 hover:text-white;
  }

  .btn-dark {
    @apply bg-gray-800 text-white border-2 border-white hover:bg-white hover:text-gray-800 hover:border-gray-800;
  }
  /* bg-opacity-60 hover:bg-opacity-70*/

  .eyebrow {
    @apply text-[46px] md:text-[70px] font-cursive text-theme-accent block;
  }

  .custom-list-bullets ul {
    list-style-type: none;
  }
  .custom-list-bullets ul li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    display: inline-block;
  }
  .custom-list-bullets ul li p {
    display: inline-block;
  }
}

@layer utilities {
  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}
